<div class="top-banner">
  <img src="assets/images/dock/bull5-grey.png" alt="" class="game-icon">
  <h1>DALALBULL</h1>
  <div class="tabs">
    <a href="/games/dalalbull-test441/rules" [routerLink]="'/games/dalalbull-test441/rules'">Rules</a>
    <a href="/games/dalalbull-test441" [routerLink]="'/games/dalalbull-test441'">Play</a>
    <a href="/games/dalalbull-test441/history" [routerLink]="'/games/dalalbull-test441/history'">Transaction History</a>
    <a href="/games/dalalbull-test441/ranklist" [routerLink]="'/games/dalalbull-test441/ranklist'">Ranklist</a>
  </div>
  <div class="cb"></div>
</div>
<router-outlet></router-outlet>
<br/>
<br/>
<br/>
<br/>
